In [1]:
import numpy as np
import pandas as pd
import datetime as dt
import calendar
#import pycountry_convert as pc
#import pycountry as pctry

%matplotlib inline

In [48]:
#df=pd.read_csv('Dis_Data.csv',parse_dates=True, infer_datetime_format=True)
df=pd.read_excel('Dis_Data_World.xlsx')
df_sliced = df[['Year', 'Disaster Group', 'Disaster Type', 'Total Deaths', 'No Affected']]
df_sliced.head(20)

    Year Disaster Group        Disaster Type  Total Deaths  No Affected
0   1900        Natural              Drought       11000.0          NaN
1   1900        Natural              Drought     1250000.0          NaN
2   1902        Natural           Earthquake        2000.0          NaN
3   1902        Natural    Volcanic activity        1000.0          NaN
4   1902        Natural    Volcanic activity        6000.0          NaN
5   1903        Natural  Mass movement (dry)          76.0          NaN
6   1903        Natural    Volcanic activity          17.0          NaN
7   1904        Natural                Storm           NaN          NaN
8   1905        Natural  Mass movement (dry)          18.0          NaN
9   1905        Natural           Earthquake       20000.0          NaN
10  1906        Natural           Earthquake       20000.0          NaN
11  1906        Natural           Earthquake         400.0          NaN
12  1906        Natural                Flood           6.0          NaN
13  1906        Natural                Flood           NaN          NaN
14  1906        Natural                Storm       10000.0          NaN
15  1907        Natural           Earthquake       12000.0          NaN
16  1907        Natural             Epidemic     1300000.0          NaN
17  1908        Natural  Mass movement (dry)          33.0          NaN
18  1909        Natural                Storm         172.0          NaN
19  1909        Natural                Storm           NaN          NaN

In [40]:
df.loc[df['Year'] == 1900].head()

,Dis No,Year,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Event Name,Entry Criteria,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs ('000 US$),Insured Damages ('000 US$),Total Damages ('000 US$),CPI
0,1900-9002-CPV,1900,9002,Natural,Climatological,Drought,Drought,NaN,NaN,NaN,...,NaN,11000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
1,1900-9001-IND,1900,9001,Natural,Climatological,Drought,Drought,NaN,NaN,NaN,...,NaN,1250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
2,1902-0012-GTM,1900,12,Natural,Geophysical,Earthquake,Ground movement,NaN,NaN,Kill,...,18.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,3.391845
3,1902-0003-GTM,1900,3,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Kill,...,8.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845
4,1902-0010-GTM,1900,10,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Santa Maria,Kill,...,24.0,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845

In [ ]:
df.drop(columns= [''])

In [40]:
#df['Disaster Subgroup'].value_counts()

In [5]:
df.drop(columns=['Dis No', 'Event Name', 'Entry Criteria'], inplace=True)

In [6]:
#df.columns

In [7]:
df2=df.copy()

In [8]:
df2.columns=df2.columns.str.replace('\'','')

In [9]:
df2=df2[['Year', 'Start Year', 'Start Month', 'Start Day','Seq', 'Disaster Group', 'Disaster Subgroup', 'Disaster Type',
       'Disaster Subtype', 'Disaster Subsubtype', 'Country', 'ISO', 'Region',
       'Continent', 'Location', 'Origin', 'Associated Dis', 'Associated Dis2',
       'OFDA Response', 'Appeal', 'Declaration', 'Aid Contribution',
       'Dis Mag Value', 'Dis Mag Scale', 'Latitude', 'Longitude', 'Local Time',
       'River Basin', 'End Year',
       'End Month', 'End Day', 'Total Deaths', 'No Injured', 'No Affected',
       'No Homeless', 'Total Affected', 'Reconstruction Costs (000 US$)',
       'Insured Damages (000 US$)', 'Total Damages (000 US$)', 'CPI']]

In [17]:
df2.head()

,Year,Start Month,Start Day,Seq,Disaster Group,Disaster Subgroup,Disaster Type,Disaster Subtype,Disaster Subsubtype,Country,...,End Day,Total Deaths,No Injured,No Affected,No Homeless,Total Affected,Reconstruction Costs (000 US$),Insured Damages (000 US$),Total Damages (000 US$),CPI
0,1900-01-01 00:00:00,NaN,NaN,9002,Natural,Climatological,Drought,Drought,NaN,Cabo Verde,...,NaN,11000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
1,1900-01-01 00:00:00,NaN,NaN,9001,Natural,Climatological,Drought,Drought,NaN,India,...,NaN,1250000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.261389
2,1902-04-18 00:00:00,4.0,18.0,12,Natural,Geophysical,Earthquake,Ground movement,NaN,Guatemala,...,18.0,2000.0,NaN,NaN,NaN,NaN,NaN,NaN,25000.0,3.391845
3,1902-04-08 00:00:00,4.0,8.0,3,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Guatemala,...,8.0,1000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845
4,1902-10-24 00:00:00,10.0,24.0,10,Natural,Geophysical,Volcanic activity,Ash fall,NaN,Guatemala,...,24.0,6000.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.391845

In [19]:
df2.drop(columns=['Start Year'], inplace=True)
df2

KeyError: "['Start Year'] not found in axis"

In [12]:
#df2['Disaster Type'].value_counts()

In [13]:
for x, y in df2.iterrows():
    year=str(y['Year'])
    mboo=pd.isnull(y['Start Month'])
    dboo=pd.isnull(y['Start Day'])
    day=0
    if mboo and dboo:
        df2.iloc[x, 0]=pd.to_datetime(year)
    elif mboo:
        df2.iloc[x, 0]=pd.to_datetime(year)
    elif dboo:
        df2.iloc[x, 0]=pd.to_datetime(year+'-'+str(int(y['Start Month'])))
    else:
        #print(f'year is {year} month is {str(int(y.iloc[1]))+str(int(y.iloc[2]))}\n')
        day=int(y['Start Day'])
       
        month=int(y['Start Month'])
        maxi=calendar.monthrange(int(year), month)[1]
        day=min(maxi, day)
            
        df2.iloc[x, 0]=pd.to_datetime(year+'-'+str(int(y['Start Month']))+'-'+str(day))
        #print(f'{y}\n')

In [14]:
type(calendar.monthrange(2002,1)[1])

int

In [15]:
pd.to_datetime('1900'+'-'+'5'+'-'+'8')

Timestamp('1900-05-08 00:00:00')

In [16]:
pd.to_datetime(s+'-'+m)

NameError: name 's' is not defined

In [ ]:
df2['Year'].dt.date

In [ ]:
df2['Year']=df2['Year'].dt.date

In [ ]:
df2.drop(columns=['Start Month', 'Start Day', 'Seq'], inplace=True)

In [ ]:
df2

In [ ]:
df2.set_index(['Year'], inplace=True)

In [ ]:
df2

In [ ]:
df_jumps=pd.read_csv('stock_jumps.csv', parse_dates=True, infer_datetime_format=True)
df_jumps

In [ ]:
df_jumps.set_index(['Date'], inplace=True)
df_jumps

In [ ]:
df_jumps.index=pd.to_datetime(df_jumps.index)
df_jumps.index

In [ ]:
df2.index=pd.to_datetime(df2.index)
df2

In [ ]:
df_jumps.sort_index(inplace=True)

In [ ]:
df_jumps.index

In [ ]:
df_jumps

In [ ]:
dt.timedelta(1)+df2.index[0]==df_jumps.index[0]

In [ ]:
df_jumps.index[0]

In [ ]:
df_jumps.drop(columns=['Year', 'Month', 'Day'], inplace=True)

In [ ]:
#df_jumps.drop(columns=['Article Link/Location'], inplace=True)

In [ ]:
df_jumps.drop(columns=['Article Title', 'Newspaper'], inplace=True)
df_jumps

In [ ]:
df2.head(10)

In [ ]:
df_jumps.head(10)

In [ ]:
for x,y in df2.head(10).iterrows():
    if x+dt.timedelta(1) in df_jumps.head(10).index:
        print(x)

In [ ]:
dff=df_jumps.head(10).copy()

In [ ]:
#dff

In [ ]:
dff1=df2.head(10).copy()

In [ ]:
#for x, y in dff1.iterrows():
 #   if x+dt.timedelta(1) in dff.index:
dff1.insert(0, 'Return', np.nan)

In [ ]:
#dff1

In [ ]:
for x, y in dff1.iterrows():
    if x+dt.timedelta(1) in dff.index:
        loc=dff.index.get_loc(x+dt.timedelta(1))
        dff1.loc[x, 'Return']=dff.iloc[loc, 0]

In [ ]:
dff1.index[0]+dt.timedelta(1)>dff.index[0]

In [ ]:
l=[2,5,6,7]

In [ ]:
def match_returns(df_disaster, df_jumper, window=1):
    df1=df_disaster.copy()
    df2=df_jumper.copy()
    df1.insert(0, 'Returns', np.nan)
    for x, y in df1.iterrows():
        for win in range(0, window+1):
            if x+dt.timedelta(win) in df2.index:
                location=df2.index.get_loc(x+dt.timedelta(win))
                df1.loc[x, 'Returns']=df2.iloc[location, 0]
                break
                
    return df1

In [ ]:
df2_rets=match_returns(df2, df_jumps)

In [ ]:
#df2_rets.drop(columns=['Return'], inplace=True)

In [ ]:
dff1.index.get_loc('2000-05-05')==[]

In [ ]:
df2_rets.head()

In [ ]:
df2_rets['Disaster Type'].value_counts()

In [ ]:
df_gdp=pd.read_csv('World_GDP_Data.csv')
df_gdpC=pd.read_csv('World_GDP_Capita.csv')

In [ ]:
df2_rets.columns

In [ ]:
#df_gdp.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)
#df_gdpC.drop(columns=['Indicator Name', 'Indicator Code'], inplace=True)

In [ ]:
#df_gdpC.shift

In [ ]:
df_capita_change=df_gdpC.loc[:,'1960':]/df_gdpC.loc[:,'1960':].shift(1, axis=1)

In [ ]:
df_gdpC_change=pd.concat([df_gdpC.iloc[:,0:2], df_capita_change], axis=1)

In [ ]:
df_change=df_gdp.loc[:,'1960':]/df_gdp.loc[:,'1960':].shift(1, axis=1)
df_gdp_change=pd.concat([df_gdp.iloc[:,0:2], df_change], axis=1)

In [ ]:
pd.to_datetime(df_gdpC_change.T.index[2])

In [ ]:
#df2_rets.columns

In [ ]:
df_gdpC_change.head()

In [ ]:
country_code = pc.country_name_to_country_alpha3("United Arab Emirates", cn_name_format="default")
print(country_code)
cv=pc.country_alpha3_to_country_alpha2(country_code)
continent_name = pc.country_alpha2_to_continent_code(cv)
print(continent_name)

In [ ]:
cc3=df_gdpC_change['Country Name']
s=pd.Series()
df_gdpC_changeC=df_gdpC_change.copy()
df_gdpC_changeC.insert(2, 'Continent', np.nan)
for x, y in df_gdpC_changeC.iterrows():
    k=pctry.countries.get(alpha_3=y[1])
    #print(f'y is {y[0]} and k is {k}\n')
    if not k==None:
        
        cc2=pc.country_name_to_country_alpha2(k.name)
        if cc2=='SX' or cc2=='TL':
            continue
        continent=pc.country_alpha2_to_continent_code(cc2)
        df_gdpC_changeC.loc[x, 'Continent']=continent

In [ ]:
#cc3=df_gdpC_change['Country Code']
pctry.countries.get(alpha_3='ABW').name

In [ ]:
#country_code = pc.country_name_to_country_alpha2('ARB', cn_name_format="default")

In [ ]:
#pc.country_alpha2_to_continent_code('TL')

In [ ]:
import pycountry as pctry
pctry.historic_countries.get(alpha_2='TL')

In [ ]:
pctry.countries.get(alpha_2='TL')

In [ ]:
k==None

In [ ]:
k

In [ ]:
df_gdpC_changeC.loc[df_gdpC_changeC['Country Code']=='TLS']

In [ ]:
#df_gdpC_changeC.loc[df_gdpC_changeC['Continent'].isna()]

In [ ]:
df_gdpC_changeC

In [ ]:
cc3=df_gdp_change['Country Name']
s=pd.Series()
df_gdp_changeC=df_gdp_change.copy()
df_gdp_changeC.insert(2, 'Continent', np.nan)
for x, y in df_gdp_changeC.iterrows():
    k=pctry.countries.get(alpha_3=y[1])
    #print(f'y is {y[0]} and k is {k}\n')
    if not k==None:
        
        cc2=pc.country_name_to_country_alpha2(k.name)
        if cc2=='SX' or cc2=='TL':
            continue
        continent=pc.country_alpha2_to_continent_code(cc2)
        df_gdp_changeC.loc[x, 'Continent']=continent

In [ ]:
df_gdp_changeC

### THE DATAFRAMES 
* Regular GDP with percent change: df_gdp_change     then copied to df_gdp_changeC 
* GDP per capita with percent change: df_gdpC_change    then copied to df_gdpC_changeC 
* Disaster df: df2
* stock jumps df: df_jumps
* Disaster + stock market jump returns matched: df2_rets